---
layout: base
---
<div class="row">
 <div class="col-lg-8 col-lg-offset-1">

    <h2>{{ page.title }}</h2>
    <p class="byline">By Nathan | {{ page.date | date_to_long_string }}</p>

    {{content}}


    <div class="postfoot">
        <div class="meta">
            This entry was posted in 
            <span class="categories">
                {% for cat in page.categories %}
                    {{ cat }},
                {%else %}
                    Uncategorized
                {% endfor %}
            </span>
            {% if page.tags != empty %}
                and tagged
                <span class="tags">
                    {% for tag in page.tags %}
                        {{ tag }},
                    {% endfor %}
                </span>.
            {% endif %}
        </div>
        <div class="postflow">
            {% if page.previous %}
                <a href="{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a>
            {% endif %}

            {% if page.next %}
                <a class="pull-right" href="{{ page.next.url }}">{{ page.next.title }} &raquo;</a>
            {% endif %}
        </div>
    </div>

 </div>
</div>
